{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}
    <div class="container-right">
        <a href="{% url 'logout' %}">Выйти</a>
    </div>
    <div class="container">
        <p class="space">Добро пожаловать, {{ user.username }}</p>
    </div>
    <div class="container-form-index">
        <form action="" method="post" class="form form-c">
            {% csrf_token %}
            {% bootstrap_form form show_help=False layout='inline' %}
            {% buttons %}
                <button type="submit" class="btn btn-primary form-button">
                    Получить ссылку
                </button>
            {% endbuttons %}
        </form>
    </div>
    <div class="container-table">
        {% if count %}
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Оригинальная ссылка</th>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Короткая ссылка</th>
                        <th scope="col">Количество переходов</th>
                    </tr>
                </thead>
                <tbody>
                    {% for shortener in shorteners %}
                        <tr>
                            <td>
                                <a href="{{ shortener.origin_link }}">
                                    {{ shortener.origin_link }}
                                </a>
                            </td>
                            <td>
                                {{ shortener.created_at|date:'D M Y' }}
                            </td>
                            <td>
                                <a href="{{ shortener.origin_link }}"
                                   data-id="{{ shortener.id }}"
                                   class="link_table"
                                >
                                    {{ shortener.short_link }}
                                </a>
                            </td>
                            <td>
                                {{ shortener.count }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            Вы еще не добавили ссылки
        {% endif %}
    </div>
    {% if count > 10 %}
        <div class="pagination">
            {% bootstrap_pagination shorteners %}
        </div>
    {% endif %}
{% endblock content %}